.playlist-container {
  max-width: 60%;
  width: 100%;
  /* border: var(--lavender-600) solid 1.5rem; */
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  background: var(--lavender-700);
  position: relative;
}

.playlist-container::before {
  content: '';
  position: absolute;
  /* top: 50%;
  left: 50%; */
  height: 100%;
  width: 100%;
  z-index: 2;
  /* transform: translate(-50%, 50%); */
  background: var(--dark-blue);

  clip-path: polygon(3% 3%, 94% 3%, 84% 97%, 3% 97%);
}

.playlist-container::after {
  content: '';
  position: absolute;
  left: 0;
  z-index: 1;
  height: 100%;
  width: 100%;
  background: var(--lavender-600);

  clip-path: polygon(0 0, 97% 0, 87% 100%, 0 100%);
}
